<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Academy</title>
  <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />

  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>

  <header th:fragment="cabecario">

    <a th:href="@{/}" class="logo-img"> <img class="logoacademy" src="/img/logoacademy.png" alt=""></a>


    <nav class="nav-header">
      <li><a href="#">Home</a></li>
      <li><a th:href="@{/inserirAlunos}">Cadastrar aluno</a></li>
      <li><a href="#">Pesquisar</a></li>
      <li><a href="#" class="sair">Sair</a></li>
    </nav>
    <div class="button">
      <img src="/img/iconmenu.png" width="50px" alt="">
      <nav class="nav-header-560px">
        <li><a href="#">Home</a></li>
        <li><a th:href="@{/inserirAlunos}">Cadastrar</a></li>
        <li><a href="#">Pesquisar</a></li>
        <li><a href="#" class="sair">Sair</a></li>
      </nav>
    </div>
    </div>
  </header>




  <form method="post" action="/form" th:object="${aluno}">

    <input type="text" th:field="*{id}">
    <input type="text" th:field="*{nome}">
    <input type="text" th:field="*{Matricula}">
    <button type="submit"> click</button>

  </form>


  <footer th:fragment="footer">
    <p> @copy criado por josé carlos no dia 15/05/2024</p>
  </footer>


  <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
  <script src="/webjars/bootstrap/bootstrap.min.js"></script>
</body>

</html>